<meta charset="utf-8">
<title>Hotel Manager</title>

<!-- Materialize CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css" />

<!-- Application Styles -->
<link rel="stylesheet" href="/css/style.css" />

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Materialize JS -->
<script src="/vendor/materialize/js/materialize.min.js"></script>

<!-- Application JS -->
<script src="/js/app.js"></script>
