<div class="nav-wrapper">
  <a href="/hotels" class="brand-logo">Hotel Property Manager</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/hotels/new">Add Hotel +</a></li>
  </ul>
</div>
